@import "../../style/common.scss";

.liquidity-details {
  width: 100%;
  height: fit-content;

  & > div {
    display: grid;
    grid-template-columns: 140px 1fr;
    grid-gap: 20px;
    margin-top: 15px;
    @extend %mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;

    & > span {
      &:first-child {
        color: $color-text-grey;
      }
      color: $color-text;
    }

    &:first-child {
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 23px;
      color: $color-text;
    }

    .coin {
      display: flex;
      align-items: center;
      img {
        margin-right: 8px;
      }
    }
  }
}
